.swiper {
    width: 90%;
    height: 95%;
    z-index: 20;
}

.swiper-slide {
    width: 24%;
    height: 95%;
    margin: 0.5%;
    z-index: 20;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
    cursor: pointer;
    opacity: 20;
}

.swiper-slide img:hover {}


.swiper-button-next,
.swiper-button-prev {
    margin-top: -20%;
    display: flex !important;
    position: relative !important;
    color: gray !important;
    font-weight: 900 !important;
    cursor: pointer !important;
    z-index: 9990 !important;
    opacity: 1;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.1);
}

/* Estilos para el modal */
.overflow {
    overflow: hidden;
}

.modal-sect5 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 10, 124, 0.2); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px); 
    -webkit-backdrop-filter: blur(16px);

    justify-content: center;
    align-items: center;
}
.modal-sect5.active{
    display: block;
}

.modal-content-sect5 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    text-align: center;
    z-index: 9999;
}

.close-modal-sect5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 15px;
    font-size: 2.5vw;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--verdeBiche);
    font-weight:bold;
    color: white;
    cursor: pointer;
    z-index: 9999;
}

.close-modal-sect5:hover {
    text-align: center;
    color: var(--gris);
    
    /* background-color: var(--azulMedio); */
}

/*carousel*/
.carousel-sect5 {
    width: 95%;
    height: 95%;
    overflow: hidden;
    position: relative;
    z-index: 30;
}

.carousel-sect5 .list .item {
    width: 180px;
    height: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 00%;
    border-radius: 13px;
    box-shadow: 0 12px 10px rgba(19, 18, 18, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    opacity: 0;
}

.carousel-sect5 .list .item:nth-child(1),
.carousel-sect5 .list .item:nth-child(2) {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.carousel-sect5 .list .item:nth-child(n+3) {
    display: none;
}

/* 
.carousel-sect5 .list .item:nth-child(4) {
    left: calc(67% + 200px);
    z-index: 100;
}

.carousel-sect5 .list .item:nth-child(5) {
    left: calc(67% + 400px);
    z-index: 100;
}

.carousel-sect5 .list .item:nth-child(6) {
    left: calc(67% + 600px);
    z-index: 100;
}

.carousel-sect5 .list .item:nth-child(n+7) {
    left: calc(67% + 800px);
    opacity: 0;
    z-index: 100;
} */

/* next prev arrows */

.arrows {
    position: absolute;
    top: 90%;
    right: 30%;
    z-index: 1000;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--azulMedio);
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.5vw;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    z-index: 500;
}

.arrows button:hover {
    background: var(--gris);
    color: var(--azulOscuro);
}

/* time running */
.carousel-sect5 .timeRunning {
    position: absolute;
    z-index: 100;
    width: 0%;
    height: 4px;
    background-color: var(--naranja);
    left: 0;
    top: 0;
    animation: runningTime 4s linear 1 forwards;
}

@keyframes runningTime {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}

.list .item1 .content,
.list .item2 .content,
.list .item3 .content,
.list .item4 .content,
.list .item5 .content,
.list .item6 .content,
.list .item7 .content,
.list .item8 .content,
.list .item9 .content,
.list .item10 .content,
.list .item11 .content
 {
    position: absolute;
    /* top: 30%;
    left: 3%; */
    transform: translateY(-50%);
    width: 28vw;
    text-align: left;
    color: #ffffff;
    display: block;
    backdrop-filter: blur(8px);
    background: rgba(10, 12, 11, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(175, 174, 174, 0.3);
}
.list .item1 .content{
    top: 30%;
    left: 3%;
}
.list .item2 .content{
    top: 40%;
    right: 3%;
}
.list .item3 .content{
    top: 50%;
    left: 3%;
}
.list .item4 .content{
    top: 50%;
    left: 3%;
}
.list .item5 .content{
    top: 25%;
    left: 3%;
}
.list .item6 .content{
    top: 30%;
    left: 3%;
}
.list .item7 .content{
    top: 60%;
    left: 3%;
}
.list .item8 .content,
.list .item9 .content,
.list .item11 .content{
    top: 40%;
    left: 3%;
}
.list .item10 .content{
    top: 35%;
    left: 3%;
}

.list .item:nth-child(2) .content {
    display: block;
}

.content .title {
    margin-top: 3%;
    font-size: 2.2vw;
    margin: 2%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(42, 226, 42);
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name {
    font-size: 1.8vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    /* text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.8); */
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding:3%;
    font-size: 1.5vw;
    font-weight: 200;
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn {
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button {
    padding: 3%;
    margin-left: 3%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    z-index: 4;
    margin-bottom: 10px;
    background-color: var(--azulMedio);
}

.content .btn button a {
    color: #fff;
    text-decoration: none;
}


@keyframes animate {

    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}