/**/
.section6{
    z-index: 0;
}
.contenedor-section6_1 {
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.contenedor-section6_1 .btn-hamburger {

    z-index: 1;
}



.contenedor-section6_1 img {
    width: 78%;
    z-index: 0;
    
}

.contenedor-section6_2 {
    display: flex;
    flex-direction: row;
   
}


.contenedor-section6_2 .izquierdo {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.izquierdo .logo-sect6 {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-sect6 img {
    width: 14.2vw;
    height: 4vw;
    display: flex;
    text-align: center;
    top: 1%;
    left: 55%;
}

.start-sect6 {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    z-index: 0;
}

.start-sect6 img {
    width: 180%;
    height: 70%;
    position: relative;
    top: 29%;
    left: 82%;
    z-index: -1;
}

.derecho {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.start-derecho-sect6 {
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 0;
}

.start-derecho-sect6 img {
    width: 180%;
    height: 140%;
    right: 1%;
    top: -25%;
    position: absolute;
    z-index: 0;
}

.vacio-derecho-sect6 {
    width: 100%;
    height: 50%;
}

.titulo-sect6 {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.titulo-sect6 h3 {
    font-size: 5.3vw;
    font-family: 'Raleway';
    margin-right: 8%;
    margin-top: -1%;
    color: #16142f;;
}
.contenedor-slider {
    margin-top: -2%;/*cambio*/
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    z-index: 10;
  
}

.contenedor-slider .slider {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 95%;
    height: 98%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    margin-top: 2%;
    z-index: 3;
  
   
}

.contenedor-slider .slider-item {
    background-color:rgba(9, 41, 9, 0.1);;
    opacity: 1;
    backdrop-filter: blur(35px); 
    -webkit-backdrop-filter: blur(35px);
    margin-top: 5%;
    right: -10%;
    position: absolute;
    width: 20vw;
    height: 27vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1vw;
    transition: transform 0.5s ease-in-out;
    z-index: 4;
    /* border:black solid 0.5px ;  */
}
.contenedor-slider .slider-img{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    object-fit:inherit;
    text-align: center;
    width: 18vw;
    height: 22vw;
    z-index: 4;
}
.contenedor-slider .text-slider-img{
    position: relative;
    z-index: 800;
}
.slider-item strong {
    text-align:center;
    font-size: 1em;
    font-family: "Raleway";
    color:var(--verdeSena);
    font-weight: 700;
    margin-top: 0%;
}
.slider-item p{
    text-align:center;
    font-size: 0.8em;
    font-family: "Raleway";
    font-weight: 500;
    color:#16142f;
    margin-top: 0%;
}
.slider-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    color:var(--azulMedio);
    font-size: 0.9vw;
    font-family: "Raleway";
    font-weight: 800;
    margin-top: 1%;
}

.slider-item a:hover {
    color: var(--naranja);
    text-decoration: underline;
}

.prevSect6,
.nextSect6 {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    background-color: none;
    border: none;
    color: rgb(10, 0, 0);
    font-size: 3.3vw;
    font-weight: 900;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prevSect6 {
    left: 16%;
}

.nextSect6 {
    right: 14%;
}