*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body,html{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
.section1 {
    background-image: url(../img/fondo1.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.titulo img, .subtitulo h3, .contenedor-vacio-sect1, .contenedor-titulo h2, .contenedor-subtitulo h3, .contenedor-central a {
    max-width: 100%;
    height: auto;
}
.video iframe {
    width: 100%;
    height: auto;
    max-width: 560px; /* Puedes ajustar este valor */
    aspect-ratio: 16/9; /* Asegura que el video mantenga una relación de aspecto adecuada */
}
/* Imágenes de fondo y SVGs */
.dianas img, .nebulosa svg, .hojas img, .logo-sena img {
    max-width: 100%;
    height: auto;
}
.logo-sena img {
    width: 150px;
}
/* Botón hamburguesa */
.btn-hamburger .hamburger {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.section2 {
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.section3 {
    position:relative;
    background-image: url(../img/fondo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section4 {
    position:relative;
    background-image: url(../img/fondo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section5 {
    position:relative;
    background-image: url(../img/fondo5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*section 6*/
.section6 {
    position:relative;
    background-image: url(../img/fondo6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.contendor-central-sect6{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.logo-yuredo-black{
    width: 100%;
    height: 15%;
}
.palmas{
    position: absolute;
    width: 30%;
    height: 45%;

    }

    #t-1:checked ~ .testimonials label[for="t-3"],
    #t-2:checked ~ .testimonials label[for="t-4"],
    #t-3:checked ~ .testimonials label[for="t-5"],
    #t-4:checked ~ .testimonials label[for="t-1"],
    #t-5:checked ~ .testimonials label[for="t-2"]{
        transform: translate3d(600px, 0, -180px) rotateY(-25deg);
        z-index: 2;
    }
    
    #t-1:checked ~ .testimonials label[for="t-2"],
    #t-2:checked ~ .testimonials label[for="t-3"],
    #t-3:checked ~ .testimonials label[for="t-4"],
    #t-4:checked ~ .testimonials label[for="t-5"],
    #t-5:checked ~ .testimonials label[for="t-1"]{
        transform: translate3d(300px, 0, -90px) rotateY(-15deg);
        z-index: 3;
    }
    
    #t-2:checked ~ .testimonials label[for="t-1"],
    #t-3:checked ~ .testimonials label[for="t-2"],
    #t-4:checked ~ .testimonials label[for="t-3"],
    #t-5:checked ~ .testimonials label[for="t-4"],
    #t-1:checked ~ .testimonials label[for="t-5"]{
        transform: translate3d(-300px, 0, -90px) rotateY(15deg);
        z-index: 3;
    }
    
    #t-3:checked ~ .testimonials label[for="t-1"],
    #t-4:checked ~ .testimonials label[for="t-2"],
    #t-5:checked ~ .testimonials label[for="t-3"],
    #t-2:checked ~ .testimonials label[for="t-5"],
    #t-1:checked ~ .testimonials label[for="t-4"]{
        transform: translate3d(-600px, 0, -180px) rotateY(25deg);
        
    }
    
    #t-1:checked ~ .testimonials label[for="t-1"],
    #t-2:checked ~ .testimonials label[for="t-2"],
    #t-3:checked ~ .testimonials label[for="t-3"],
    #t-4:checked ~ .testimonials label[for="t-4"],
    #t-5:checked ~ .testimonials label[for="t-4"],
    #t-5:checked ~ .testimonials label[for="t-5"]{
        
        z-index: 4;
    }
/*fin section 6*/


.hojas img{
    position: absolute;
    width: 100%;
    z-index: -5;
}

/*menu vertical*/
.btn-hamburger{
    width: 100%;
    height: 10%;
    
    /* display: flex; */
    display: none;
    justify-content: end;
    z-index: 1;
    
}
.hamburger {
   
    display: none;
    background: none;
    border: none;
    color: #e82727;
    font-size: 30px;
    cursor: pointer;
    justify-content:center ;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    margin-right: 20px;
}

.vertical-menu {
    position: fixed;
    width: 200px;
    height: 1080px;
    top: 0;
    display: none;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}

.left-menu {
    top: 30%;
    left: 0;
    background-color: rgb(26, 233, 18);
    width: 160px;
    height: 310px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
   
   

}
.contendor-menu-left{
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 30px;
    justify-content: center;
    
}
.left-menu ul li{
    margin-top: -15px;
}
.left-menu ul li a{
    text-align: left;
    font-size: 18px;
   
    text-align: start;
    
}
li p{
    color:black;
    margin-top: -13px;
    text-align: start;
    
}
.right-menu {
    right: 0;
    background-color: rgb(19, 4, 48);
    width: 160px;
    height: 100vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.contenedor-menu-right{
   
    width: 100%;
    height: 80%;
    margin-top: 100px;
}
.vertical-menu ul {
    list-style-type: none;
    padding: 0;
}

.vertical-menu ul li {
    text-align: center;
    padding: 20px;
}

.vertical-menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.vertical-menu .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.hamburger-container {
    position: absolute;
    top: 20px;
    right: 20px;
}
.hamburger {
    display: block;
}
