@media only screen and (min-width: 360px) and (max-width: 768px) {

    /* Estilos para dispositivos móviles de gama media y alta */
    /*iphone 12pro, iphone X,
    iphone SE*/
    body {
        
    }

    *,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*modal*/
    
.section1 .my-popover{
    top: 3%;
    right: 3%;
    position:fixed;
    width: 10vw;
    height: 10vw;
    border: none;
    background-color:var(--azulMedio);
    border-radius: 5px;
    z-index: 1500;
}
.section1 .my-popover span{
    color: white;
    font-size: 6vw;
    font-weight: 900;
}
#my-popover{
    display: none;
    top: 5%;
    left: 5%;
    display: none;
    flex-direction: column;
    border: none;
    overflow: hidden;
    width: 90%;
    height: 90%;
    border-radius: 5vw;
    background-color:var(--verdeBiche);
    z-index: 5000;
    align-items: center;
    justify-content: center;
}
#my-popover .boton{
    position: relative;
    margin-top: 5%;
    margin-left: 85%;
    background: none;
    border: none;
}
#my-popover .boton span{
   font-size: 7vw;
   font-weight: 900;
   color: white;
}
#my-popover .boton span:hover{
    color: var(--gris);
 }
.link-texto{
    width: 100%;
    height: 70%;
    background-color: var(--verdeBiche);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}
.link-texto ul{
    list-style: none;
}
.link-texto ul li{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.link-texto ul li a{
   text-decoration: none;
   color: white;
   margin: 2.5vw;
   font-size: 7vw;
   font-weight: 300;
   font-family: "Raleway";
   font-style: italic;
   text-align: center;
}
.link-texto ul li a:hover{
    text-decoration:underline;
    color: var(--gris);
 }
.link-logos{
display: flex;
width: 100%;
height: 30%;
text-align: center;
justify-content:space-between;
flex-direction: row;

}
.link-logos .link{
margin-top: 13%;
width: 20%;
height:20%;
display: flex;
align-items: center;
justify-content:center;
}
.link img{
}
.link-hoja,
.link-engranaje,
.link-sena,
.link-pluma,
.link-corazon
{
    text-align: center;
    width: 2.7em;
    height: 2.7em;
}
.link img:hover{
transform: scale(1.1);
}
/*fin de modal*/
    .section1 {
        display: flex;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        flex-direction: column;
      
    }

    .section1 .dianas {
        top: 0%;
        width: 100%;
        height: 75%;
        position: relative;
    }

    .dianas img {
        position: absolute;
        margin-top: 0%;
        width: 100%;
        height: 45vw;
    }

    .contenedor-fondo1 {
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .contenedor-fondo1 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 2% !important;
    }

    .contenedor-logo {
        top: 23%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    .contenedor-logo img {
        margin-top: -18%;
        width: 52%;
        height: auto;
        position: relative;
    }

    .contenedor-logo h1 {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 600;
        font-family: "Raleway";
        font-style: italic;
        margin-top: 1%;
    }

  

    .section1 .contenedor-video .vacio,
    .section1 .contenedor-video .flor {
        width: 15%;
        height: 100%;
        display: flex;
    }

    .section1 .contenedor-video .flor img {
        position: absolute;
        width: 20%;
        height: auto;
        right: 6%;
        top: -3%;
    }
 
    .contenedor-video  {
       
        width: 92%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: blueviolet;
    }
    .contenedor-video video{
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: black;
    }

    

    .play img {
        opacity: 0.8;
    }

    #videoPlayer {
        width: 85%;
        height: 75%;
        object-fit: cover;
    }

    .contenedor-video #playBtn {
        width: 20%;
    }

    .contenedor-fondo1 .imagenes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .contenedor-fondo1 .imagenes .nebulosa {
        position: absolute;
        width: 17vw;
        height: auto;
        margin-top: 38vw;
        left: 3%;
        z-index: 1500;
    }

    .contenedor-fondo1 .imagenes .logo-sena {
        position: absolute;
        width: 15vw;
        height: auto;
        margin-top: 38vw;
        right: 4vw;
    }

    .contenedor-fondo1 .imagenes .start1 {
        position: absolute;
        width: 30vw;
        height: 20vw;
        margin-top: 35vw;
    }

    .contenedor-fondo1 .imagenes .start2 {
        position: absolute;
        width: 50%;
        height: 40%;
        margin-top: 33vw;
        left: 25%;
    }

    .contenedor-fondo1 .imagenes .start3 {
        position: absolute;
        width: 28vw;
        height: 40vw;
        margin-top: 10vw;
        right: 0;
    }

    .contenedor-fondo-bajo{
        position: absolute !important;
        top: 90.2% !important;
   

    }
}


@media only screen and (max-height: 768px) {
    /* Estilos específicos para Samsung Galaxy S23, A35, S24, A25 */


    /* Estilos para dispositivos móviles de gama media y alta */
   body{
   
   }

    *,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*modal*/
    
.section1 .my-popover{
    top: 3%;
    right: 3%;
    position:fixed;
    width: 10vw;
    height: 10vw;
    border: none;
    background-color:var(--azulMedio);
    border-radius: 5px;
    z-index: 1500;
}
.section1 .my-popover span{
    color: white;
    font-size: 6vw;
    font-weight: 900;
}
#my-popover{
    display: none;
    top: 5%;
    left: 5%;
    display: none;
    flex-direction: column;
    border: none;
    overflow: hidden;
    width: 90%;
    height: 90%;
    border-radius: 5vw;
    background-color:var(--verdeBiche);
    z-index: 5000;
    align-items: center;
    justify-content: center;
}
#my-popover .boton{
    position: relative;
    margin-top: 5%;
    margin-left: 85%;
    background: none;
    border: none;
}
#my-popover .boton span{
   font-size: 7vw;
   font-weight: 900;
   color: white;
}
#my-popover .boton span:hover{
    color: var(--gris);
 }
.link-texto{
    width: 100%;
    height: 70%;
    background-color: var(--verdeBiche);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}
.link-texto ul{
    list-style: none;
}
.link-texto ul li{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.link-texto ul li a{
   text-decoration: none;
   color: white;
   margin: 2.5vw;
   font-size: 7vw;
   font-weight: 300;
   font-family: "Raleway";
   font-style: italic;
   text-align: center;
}
.link-texto ul li a:hover{
    text-decoration:underline;
    color: var(--gris);
 }
.link-logos{
display: flex;
width: 100%;
height: 30%;
text-align: center;
justify-content:space-between;
flex-direction: row;

}
.link-logos .link{
margin-top: 13%;
width: 20%;
height:20%;
display: flex;
align-items: center;
justify-content:center;
}
.link img{
}
.link-hoja,
.link-engranaje,
.link-sena,
.link-pluma,
.link-corazon
{
    text-align: center;
    width: 2.7em;
    height: 2.7em;
}
.link img:hover{
transform: scale(1.1);
}
/*fin de modal*/
    .section1 {
        display: flex;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        flex-direction: column;
    }

    .section1 .dianas {
        top: 0%;
        width: 100%;
        height: 75%;
        position: relative;
    }

    .dianas img {
        position: absolute;
        margin-top: 0%;
        width: 100%;
        height: 45vw;
    }

    .contenedor-fondo1 {
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .contenedor-fondo1 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 2% !important;
    }

    .contenedor-logo {
        top: 23%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    .contenedor-logo img {
        margin-top: -18%;
        width: 52%;
        height: auto;
        position: relative;
    }

    .contenedor-logo h1 {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 600;
        font-family: "Raleway";
        font-style: italic;
        margin-top: 1%;
    }

    .section1 .contenedor-video {
        top: 20%;
        position: absolute;
        margin-top: 35%;
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .section1 .contenedor-video .vacio,
    .section1 .contenedor-video .flor {
        width: 15%;
        height: 100%;
        display: flex;
    }

    .section1 .contenedor-video .flor img {
        position: absolute;
        width: 20%;
        height: auto;
        right: 6%;
        top: -3%;
    }

    .contenedor-video #videoPlayer {
        margin-top: -26%;
        width: 70%;
        height: 65%;
        border-radius: 15px;
        overflow: hidden;
        background-color: black;
    }

    .play {
        width: 4vw;
        height: 4vw;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .play img {
        opacity: 0.8;
    }

    #videoPlayer {
        width: 60%;
        height: 45%;
    }

    .contenedor-video #playBtn {
        width: 20%;
    }

    .contenedor-fondo1 .imagenes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .contenedor-fondo1 .imagenes .nebulosa {
        position: absolute;
        width: 17vw;
        height: auto;
        margin-top: 38vw;
        left: 3%;
        z-index: 1500;
    }

    .contenedor-fondo1 .imagenes .logo-sena {
        position: absolute;
        width: 15vw;
        height: auto;
        margin-top: 38vw;
        right: 4vw;
    }

    .contenedor-fondo1 .imagenes .start1 {
        position: absolute;
        width: 30vw;
        height: 20vw;
        margin-top: 35vw;
    }

    .contenedor-fondo1 .imagenes .start2 {
        position: absolute;
        width: 50%;
        height: 40%;
        margin-top: 33vw;
        left: 25%;
    }

    .contenedor-fondo1 .imagenes .start3 {
        position: absolute;
        width: 28vw;
        height: 40vw;
        margin-top: 10vw;
        right: 0;
    }
    
}

/*iphone 14 pro max*/
@media only screen and (min-width: 430px) and (max-height: 932px){
body{
    background-color: aqua;
}
}

/******************************************/
/*galaxy note II, galaxy s3*/
@media only screen and (min-width: 360px) and (max-height: 640px){
    .contenedor-logo img {
        margin-top: -5%;
        width: 52%;
        height: auto;
        position: relative;
    }
    }
    /*lg optimus l70*/
    @media only screen and (min-width: 384px) and (max-height: 640px){
        .contenedor-logo img {
            margin-top: 0% !important;
            width: 52%;
            height: auto;
            position: relative;
        }
        .section1 .contenedor-video .flor img {
            top: -7% !important;
        }  
        .contenedor-fondo1 .imagenes .nebulosa {
          top: -7vw !important;
        }
        .contenedor-fondo1 .imagenes .logo-sena {
     
            top: -8vw !important; 
            right: 5vw !important; 
        }
        .contenedor-fondo1 .imagenes .start1 {
top: -8vw !important;
        }
    
        .contenedor-fondo1 .imagenes .start2 {
           top: -5vw !important;
            left: 25%;
        }
    
    

        }
/*nexus 6*/
@media only screen and (min-width: 412px) and (max-height: 732px){
    body{
        background-color: rgb(224, 181, 36) !important;
    }
    }

/*nokia lumia*/
@media only screen and (min-width: 320px) and (max-height: 533px){
    body{
        background-color: rgb(38, 25, 228);
    }
    }
/*nokia N9*/
@media only screen and (min-width: 480px) and (max-height: 854px){
    body{
        background-color: rgb(85, 88, 88) !important;
    }
    }
/*pixel 7, iphone 6/7/8 plus*/
@media only screen and (min-width: 412px) and (max-height: 915px){
    body{
        background-color: rgb(149, 245, 70) !important;
    }
    }