@media only screen and (min-width: 360px) and (max-width: 768px) {
    body {}

    *,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section3 {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .fondo-arriba-sect3 {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 30%;
        position: absolute;
    }

    .fondo-arriba-sect3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -21% !important;
    }

    .fondo-bajo-sect3 {
        position: absolute !important;
        width: 100%;
        height: 100%;
    }

    .fondo-bajo-sect3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 2% !important;
        
    }

    .logoWhite-sect3 {
        position: absolute;
        right: 7%;
        width: 35vw !important;
    }

    .contenedor-sect3_1 {
        width: 100%;
        height: 35%;
        display: flex;
        position: absolute;
    }

    .start1_3 {
        position: absolute !important;
        width: 30vw !important;
        height: 38vw !important;
        left: 0;
        transform: rotate(270deg) !important;
    }

    .start2_3 {
        position: absolute !important;
        width: 38vw !important;
        height: 48vw !important;
        top: 5%;
        left: 42%;
    }

    .start3_3 {
        position: absolute !important;
        width: 35vw !important;
        height: 48vw !important;
        right: 5%;
    }

    .contenedor-sect3_1 img {
        margin-top: -4%;
        position: absolute;
        width: 90%;
        height: 100%;
        z-index: -5;
    }

    .contenedor-sect3_2 {
        top: 6%;
        margin-top: 48%;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .contenedor-sect3_2 .contenedor-video2 {
        margin-top: -15%;
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .contenedor-sect3_2 .contenedor-video2 .colibrisect3 {
        width: 38vw;
        height: 33vw;
        position: relative;
        margin-left: 75%;
        margin-top: -55%;
        z-index: 20;
    }


    .contenedor-sect3_3 .btnMas {
        position: relative;
        width: 7vw;
        height: 7vw;
        margin-left: -18vw;
        top: -27vw;
        z-index: 50;
    }
    .textSetc3{
        position: absolute;
        width: 50%;
        height: 20%;
        top: 70%;
        left: 5%;
        display: flex;
        align-items: center;
        font-size: 3vw;
        font-family: "Raleway";
        font-weight: 500;
       text-align: justify;
    }

    .contenedor-sect3_2 .contenedor-video2 .btnMas:hover {
        transform: scale(1.1);
    }

    .contenedor-video2 .videoPlayer {
        position: absolute;
        width: 65%;
        height: 67%;
        background-color: black;
        border-radius: 5vw;
    }

    .contenedor-sect3_2 .play2 {
        width: 18vw;
        height: 18vw;
        position: absolute;
        z-index: 40;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .contenedor-sect3 .play2 img {
        opacity: 0.8;
    }

    .contenedor-sect3_3 {
        top: 40%;
        margin-top: 48%;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
    }

    .contenedor-sect3_3 .florAmarilla {
        width: 33%;
        height: 33%;
        margin-top: -84%;
        margin-left: -55%;
        position: absolute;
        z-index: 10;
    }

    .contenedor-sect3_3 .ramas {
        width: 42vw;
        max-width: 100%;
        height: auto;
        margin-right: -58%;
        margin-top: -18%;
        position: absolute;
    }
}
@media only screen and (max-width: 768px) {
    *,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section3 {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
       
    }

    .fondo-arriba-sect3 {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 30%;
        position: absolute;
    }

    .fondo-arriba-sect3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -21%;
    }

    .fondo-bajo-sect3 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .fondo-bajo-sect3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 43% !important;
    }

    .logoWhite-sect3 {
        position: absolute;
        right: 7%;
        width: 35vw !important;
    }

    .contenedor-sect3_1 {
        width: 100%;
        height: 35%;
        display: flex;
        position: absolute;
    }

    .start1_3 {
        position: absolute !important;
        width: 30vw !important;
        height: 38vw !important;
        left: 0;
        transform: rotate(270deg) !important;
    }

    .start2_3 {
        position: absolute !important;
        width: 38vw !important;
        height: 48vw !important;
        top: 5%;
        left: 42%;
    }

    .start3_3 {
        position: absolute !important;
        width: 35vw !important;
        height: 48vw !important;
        right: 5%;
    }

    .contenedor-sect3_1 img {
        margin-top: -5% !important;
        position: absolute;
        width: 90%;
        height: 100%;
        z-index: -5;
        
    }

    .contenedor-sect3_2 {
        top: 6%;
        margin-top: 48%;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .contenedor-sect3_2 .contenedor-video2 {
        margin-top: -15%;
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .contenedor-sect3_2 .contenedor-video2 .colibrisect3 {
        width: 38vw;
        height: 33vw;
        position: relative;
        margin-left: 75%;
        margin-top: -55%;
        z-index: 20;
    }


    .contenedor-sect3_3 .btnMas {
        position: relative;
        width: 7vw;
        height: 7vw;
        margin-left: -18vw;
        top: -27vw;
        z-index: 50;
    }
    .textSetc3{
        position: absolute;
        width: 50%;
        height: 20%;
        top: 70%;
        left: 5%;
        display: flex;
        align-items: center;
        font-size: 3vw;
        font-family: "Raleway";
        font-weight: 500;
        text-align: justify;
     
    }

    .contenedor-sect3_2 .contenedor-video2 .btnMas:hover {
        transform: scale(1.1);
    }

    .contenedor-video2 .videoPlayer {
        position: absolute;
        width: 65%;
        height: 67%;
        background-color: black;
        border-radius: 5vw;
    }

    .contenedor-sect3_2 .play2 {
        width: 18vw;
        height: 18vw;
        position: absolute;
        z-index: 40;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .contenedor-sect3 .play2 img {
        opacity: 0.8;
    }

    .contenedor-sect3_3 {
        top: 40%;
        margin-top: 48%;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
    }

    .contenedor-sect3_3 .florAmarilla {
        width: 33%;
        height: 33%;
        margin-top: -84%;
        margin-left: -55%;
        position: absolute;
        z-index: 10;
    }

    .contenedor-sect3_3 .ramas {
        width: 42vw;
        max-width: 100%;
        height: auto;
        margin-right: -58%;
        margin-top: -18%;
        position: absolute;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px){
    .textSetc3{
        position: absolute;
        width: 50%;
        height: 20%;
        top: 70%;
        left: 5%;
        display: flex;
        align-items: center;
        font-size: 3vw;
        font-family: "Raleway";
        font-weight: 500;
       text-align: justify;
    }
    .textSetc3 .titulo{
        font-size: 3.5vw !important;
        font-family: "Raleway";
        font-weight: 700;
    }
    .textSetc3  p {
        font-size: 2.8vw !important;
        font-family: "Raleway";
        font-weight: 400;
    }
    .fondo-bajo-sect3 img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 41% !important;
    }

}

@media only screen and (min-width: 360px) and (max-width: 740px){
    .fondo-bajo-sect3 img {
    
        top: 42% !important;
        
    }

}

@media only screen and (min-width: 320px) and (max-width: 658px){
    .textSetc3 .titulo {
        font-size: 3.5vw !important;
        font-weight: 900;
    }
    .textSetc3 p{
        font-size: 3vw !important;
        font-weight: 400;
    }
} 
@media only screen and (min-width: 384px) and (max-width: 640px){
  
    .fondo-arriba-sect3 img {
        margin-top: -12%;
    }
    .contenedor-video2 .videoPlayer {
      top: -3% !important;
    }
    .textSetc3 p{
        font-size: 2.7vw !important;
    }
}