/* Botón redondo para abrir el modal */
.btn_abrir_modal {
    position: absolute;
    top: -1%;
    left: 45%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/pc/static/redes_sociales/principal.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0.6;
}

/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 0;
    left: 15%;
    width: 60%;
    height: 10vh;
    background-color:rgba(43, 96, 117, 0.384);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Contenedor interno de redes sociales */
#contenedor_social .contenedor_social {
   margin-top: 10%;
    width: 38%;
    height: 38%;
    display: flex;
    flex-direction: column;
}

/* Botón de cierre del modal */
.btn_cerrar_modal {
    position: absolute;
    top: 85%;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: var(--verdeOscuro);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.contenedor_social img {
    width: 80%;
    height: 80%;
    opacity: 0.8;
    cursor: pointer;
    margin-top: -13%;
}

.contenedor_social img:hover {
    opacity: 1;
}

/* 
#contedenedor_social{
    display: flex;
    flex-direction:row;
    position: fixed;
    top: 0;
   left: 5%;
    width: 80%;
    height: 20vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 2px;
    z-index: 1000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   

   
}


.btn_cerrar_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ff4444;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.contenedor_social{
    width: 30vw;
    height: 10vw;
    z-index: 1001;
}
.contenedor_social img{
    width: 100%;
    height: 100%;
    gap: 2;
    cursor: pointer;   
    z-index: 1002;
    opacity: 0.8;
}
.contenedor_social img:hover{
    cursor: pointer;
    opacity: 1;
} */
