/**/


:root{
    --gris:#cfe0da;
    --azulOscuro:#16142f;
    --azulMedio:#236476;
    --verdeBiche:#7dad3f;
    --verdeOscuro:#4a6c2f;
    --naranja:#ff5d40;
    --azul:#1f2350;
    --verdeSena:#00bc00;
    --blanco:white;
   
    
}